<template>
  <div>
    <header><h1>Product List</h1></header>
    <section id="user-goals">
      <h2></h2>
      <select
        name="city"
        id="city"
        class="form-control option-data"
        @change="onChangeCountry($event)"
        tabindex="12"
      >
        <option>jewelery </option>
        <option>men clothing </option>
        <option>women clothing </option>
        <option>electronics </option>
      </select>
      <ul class="list img-list">
        <li v-for="infos in info" v-bind:key="infos.id">
          <div class="li-img">
            <img :src="infos.image" alt="Image Alt Text" />
          </div>
          <div class="li-text">
            <h4 class="li-head">
              <a @click="getDetails(infos.id)">{{ infos.title }}</a
              >{{ infos.id }}
            </h4>
            <p class="li-sub">$ {{ infos.price }}</p>
          </div>
          <button class="btn-cart color-red">
            <i class="fas fa-heart margin-right-2"></i>Add To Wishlist
          </button>
        </li>
      </ul>
    </section>
  </div>
</template>

<script>
import { productData } from "../mixins/productDataMixin.js";
export default {
  name: "category",
  link: "http://google.com",
  message: "You loaded this page on " + new Date().toLocaleString(),
  mixins: [productData],
  data: function() {
    return {
      info: {},
      infos: "",
    };
  },
  methods: {
    onChangeCountry: function(event) {
      console.log(event.target.value);
      this.$axios
        .get("https://fakestoreapi.com/products/category/" + event.target.value)
        .then((response) => (this.info = response.data));
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "../css/main.css";
</style>
