<template>
  <div>
    <header><h1>Product List</h1></header>
    <section id="user-goals">
      <h2></h2>
      <div class="md-layout">
        <div class="md-layout-item md-size-30">
          <img :src="info.image" alt="Image Alt Text" class="productImg" />
        </div>
        <div class="md-layout-item">
          <h1>{{ info.title }}</h1>
          <p>{{ info.description }}</p>
          <p>Category: {{ info.category }}</p>
          <p>price: {{ info.price }}</p>
          <button class="btn-cart color-yellow" @click="onSelectUser()">
            <i class="fas fa-shopping-cart margin-right-2"></i>Buy Now
          </button>
        </div>
        <userData
          :usersValue="users"
          :productValue="info"
          :showDialogValue="showDialog"
        ></userData>
      </div>
    </section>
  </div>
</template>

<script>
import userData from "./userData.vue";
import { productData } from "../mixins/productDataMixin.js";
export default {
  name: "productDetails",
  components: {
    userData,
  },
  mixins: [productData],
  props: ["usersValue", "productValue"],
  link: "http://google.com",
  message: "You loaded this page on " + new Date().toLocaleString(),
  data: function() {
    return {
      info: "",
      infos: "",
      users: "",
      showDialog: false,
    };
  },

  mounted() {
    this.$axios
      .get("https://fakestoreapi.com/products/" + this.$route.params.id)
      .then((response) => (this.info = response.data));
  },
  methods: {
    onSelectUser: function() {
      this.$axios
        .get("https://fakestoreapi.com/users/1")
        .then((response) => (this.users = response.data));
      this.showDialog = true;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "../css/main.css";
</style>
