<template>
  <div>
    <header><h1>Product List</h1></header>
    <section id="user-goals">
      <h2></h2>
      <ul class="list img-list">
        <li v-for="infos in info" v-bind:key="infos.id">
          <div class="li-img">
            <img :src="infos.image" alt="Image Alt Text" />
          </div>
          <div class="li-text">
            <a @click="getDetails(infos.id)">
              <h4 class="li-head">{{ infos.title }}{{ infos.id }}</h4></a
            >
            <p class="li-sub">$ {{ infos.price }}</p>
          </div>
          <button class="btn-cart color-red">
            <i class="fas fa-heart margin-left-2"></i>Add To Wishlist
          </button>
          <button class="btn-cart color-yellow">
            <i class="fas fa-shopping-cart margin-left-2"></i>Add To Cart
          </button>
        </li>
      </ul>
    </section>
  </div>
</template>

<script>
import { productData } from "../mixins/productDataMixin.js";
export default {
  name: "skills",
  link: "http://google.com",
  mixins: [productData],
  message: "You loaded this page on " + new Date().toLocaleString(),
  data: function() {
    return {
      info: {},
      infos: "",
    };
  },
  mounted() {
    this.$axios
      .get("https://fakestoreapi.com/products")
      .then((response) => (this.info = response.data));
  },
  methods: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "../css/main.css";
</style>
