<template>
  <div>
    <md-dialog :md-active.sync="showDialogValue">
      <md-dialog-title>Customer Details and Product Details</md-dialog-title>

      <md-tabs md-dynamic-height>
        <md-tab md-label="Customer Details">
          <p>
            Name: {{ usersValue.name.firstname }} {{ usersValue.name.lastname }}
          </p>
          <p>
            Address: House No. {{ usersValue.address.number }}
            {{ usersValue.address.street }} {{ usersValue.address.city }}
            {{ usersValue.address.zipcode }}
          </p>
          <p>phone no.: {{ usersValue.phone }}</p>
          <p>
            Mode of Payment: COD
          </p>
        </md-tab>

        <md-tab md-label="Product Details">
          <md-table>
            <md-table-row>
              <md-table-head md-numeric>ID</md-table-head>
              <md-table-head>Product</md-table-head>
              <md-table-head>Category</md-table-head>
              <md-table-head>Quantity</md-table-head>
            </md-table-row>
            <md-table-row>
              <md-table-cell md-numeric> {{ productValue.id }}</md-table-cell>
              <md-table-cell>{{ productValue.title }}</md-table-cell>
              <md-table-cell>{{ productValue.category }}</md-table-cell>
              <md-table-cell>1</md-table-cell>
            </md-table-row>
          </md-table>
        </md-tab>
      </md-tabs>

      <md-dialog-actions>
        <md-button class="md-primary" @click="showDialogValue = false"
          >Close</md-button
        >
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>

<script>
export default {
  name: "userData",
  props: ["usersValue", "productValue", "showDialogValue"],
  data: () => ({}),
};
</script>

<style scoped>
.md-dialog,
.md-dialog-container {
  max-width: 800px;
}
p {
  font-size: 16px;
}
</style>
