h3 {
  margin: 40px 0 0;
}
.margin-right-2 {
  margin-right: 2px;
}
.option-data {
  width: 50%;
  height: 3em;
  padding: 11px;
  font-size: 20px;
}
.btn-cart {
  border: none;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.color-red {
  background: #e53528;
}
.color-yellow {
  background: #fcd313;
}
.list {
  list-style: none;
}
.list li {
  border: 1px solid #ccc;
  -webkit-box-shadow: -1px 4px 14px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 4px 14px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 4px 14px -2px rgba(0, 0, 0, 0.75);
  width: 100%;
  display: inline-block;
  margin: 10px;
}

.li-img {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  padding: 1em;
}
.li-img img {
  display: block;
  width: 100%;
  height: 50px;
}
.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
}
.li-head {
  margin: 0;
}
.li-sub {
  margin: 0;
}
.md-layout-item {
  height: auto;
  /* margin: 50px; */
}
.productImg {
  height: 200px;
  width: 200px;
}

@media all and (min-width: 45em) {
  .list li {
    width: 50%;
  }
}

@media all and (min-width: 75em) {
  .list li {
    width: 33.33333%;
  }
}
