<template>
  <div id="app">
    <nav>
      <!-- use router-link component for navigation. -->
      <!-- specify the link by passing the `to` prop. -->
      <!-- `<router-link>` will be rendered as an `<a>` tag by default -->
      <router-link to="/">Products List</router-link>
      <router-link to="/categoryList">Category</router-link>
    </nav>
    <router-view />
    <transition name="fade">
      <p v-if="show">hello</p>
    </transition>
  </div>
</template>

<script type="text/javascript">
export default {
  name: "App",
  components: {},

  mounted() {},
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
nav {
  padding: 20px 20px 20px 0;
  background: #212529;
}
nav a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
  margin-right: 15px;
}
</style>
