<template>
  <div id="app">
    <skills />
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds to see my dynamically bound
      title!
    </span>
    <div id="app-3">
      <span v-if="seen">Now you see me</span>
    </div>
    <ol>
      <li v-for="todo in todos" v-bind:key="todo">
        {{ todo.text }}
      </li>
    </ol>
    <p>{{ value }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
    <p>{{ inputType }}</p>
    <input v-model="inputType" />
    <h1 v-once>{{ title }}</h1>
    <p>{{ sayHello() }} - <a v-bind:href="link">Google</a></p>
    <p v-html="finishedLink"></p>
    <button v-on:click="++counter">Increase</button>
    <button v-on:click="--counter">Decrease</button>
    <p>{{ counter }}</p>
    <p>{{ result() }} | {{ output }}</p>
    <p v-on:mousemove="updateCoordinates">
      Coordinates:{{ x }}/{{ y }}
      <span v-on:mousemove.stop>Dead Spot</span>
    </p>
    <input type="text" v-on:keyup.enter="alertMe" />
  </div>
</template>

<script>
import skills from "./components/skills.vue";

export default {
  name: "App",
  components: {
    skills,
  },
  data: function() {
    return {
      message: "You loaded this page on " + new Date().toLocaleString(),
      seen: true,
      value: "nikita parchani",
      title: "Hello world!",
      finishedLink: '<a href="http://google.com">Google</a>',
      counter: 0,
      inputType: "",
      todos: [
        { text: "Learn javascript" },
        { text: "Learn vue" },
        { text: "Leran React" },
      ],
      x: 0,
      y: 0,
    };
  },
  computed: {
    output: function() {
      return this.counter > 5 ? "greater than 5" : "smaller than 5";
    },
  },
  methods: {
    reverseMessage: function() {
      this.value = this.value
        .split(" ")
        .reverse()
        .join(" ");
    },
    sayHello: function() {
      this.title = "Hello!";
      return this.title;
    },
    updateCoordinates: function(event) {
      (this.x = event.clientX), (this.y = event.clientY);
    },
    dummy: function(event) {
      event.stopPropagation();
    },
    result: function() {
      return this.counter > 5 ? "greater than 5" : "smaller than 5";
    },
    alertMe: function() {
      alert("alert");
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
