<template>
  <div id="app">
    <div
      class="demo"
      @click="attachRed = !attachRed"
      :class="{ red: attachRed }"
    ></div>
    <div class="demo" :style="myStyle"></div>
    <div class="demo"></div>
    <input type="text" v-model="color" />
    <input type="text" v-model="width" />
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
  data: function() {
    return {
      attachRed: false,
      color: "green",
      width: 100,
    };
  },
  computed: {
    myStyle: function() {
      return {
        background: this.color,
        width: this.width + "px",
      };
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.demo {
  width: 100px;
  height: 100px;
  background-color: gray;
  display: inline-block;
  margin: 10px;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
</style>
